<!doctype html>
<html lang="ko">

<head>
    <meta property="og:title" content="sookmyung-track" />
    <meta property="og:description" content="숙명인을 위한 학과 트랙 추천 서비스" />
    <meta property="og:image" content="{{ url_for('static', filename='main.png') }}" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- google web font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

    <!-- favicon   -->
    <link rel="shortcut icon" href="../static/favicon.ico">
    <title>sookmyung-track</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark navbar-default">
    <a class="navbar-brand" href="/">
        <img id="logo" src="../static/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/track-info">트랙 소개 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/major-track">학과별 트랙</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recommend">과목 트랙 추천</a>
            </li>
        </ul>
    </div>
</nav>
<div class="card" style="margin-top: 30px">
    <div class="card-header">
        <h4 style="text-align: left">트랙 이수 인증</h4>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <h5 style="text-align: left"><b>트랙 이수 혜택</b></h5>
            <p style="text-align: left; font-size: 1rem">
                <b>① 전공트랙이수증 발급</b> <br>
                - 발급 대상: 당해 학기 학부 졸업확정자 중 이수완료 트랙이 있는 학부생 (*2022년 2월 졸업자부터 적용)<br>
                - 트랙이수 결과조회: 최종 졸업심사 결과조회기간에 트랙이수 결과 동시 확인 (※ 트랙이수 결과에 대해 이의신청 접수 및 변동사항 결과 반영)<br>
                - 트랙이수증 수령: 졸업학기에 소속 학과사무실에서 학위증과 함께 수령<br>
                <br>
                <b>② 졸업증명서 이수트랙 선택 표기</b><br>
                - 표기 대상: 2022년 2월 이후 학부 졸업확정자 중 이수완료 트랙이 있는 학부생<br>
                - 표기 트랙 선택: 숙명포털시스템에서 졸업증명서 표기 트랙 선택 후 증명서 발급<br>
            </p>
            <hr>
            <h5 style="text-align: left"><b>트랙 이수 유의사항</b></h5>
            <p style="text-align: left; font-size: 1rem">
                - 전공선택 시 이수완료한 트랙이 있어도 <b>전공 포기하면 최종 이수트랙</b>에서 제외<br>
            </p>
            </p>

        </blockquote>
    </div>
</div>


<div class="footer">
    Copyright ⓒchilli sauce. All Rights Reserved.
    <br>
    <br>Contact : chlthr1222@sookmyung.ac.kr / sw18@sookmyung.ac.kr
</div>
</body>

</html>