<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- google web font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

    <!-- favicon   -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>sookmyung-track</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <style>
        @media all and (max-width: 1024px){
            .dropdown-toggle{
                display: block;
                margin-left: -30%;
            }
        }
        @media all and (min-width: 1025px){
            .dropdown-toggle{
                display: block;
                margin-left: -40%;
            }
        }
    </style>
</head>

<body>
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark navbar-default">
        <a class="navbar-brand" href="./">
            <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./track-info">트랙 소개 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./major-track">학과별 트랙</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./recommend">과목 트랙 추천</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="nav justify-content-end nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a style="background: white; color: #0d2f87" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">경영학부</a>
        </li>
        <li class="nav-item">
            <a style="background: white; color: #0d2f87" class="nav-link" id="pills-sw-tab" data-toggle="pill" href="#pills-sw" role="tab" aria-controls="pills-sw" aria-selected="false">소프트웨어융합전공</a>
        </li>
        <li class="nav-item">
            <a style="background: white; color: #0d2f87" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">컴퓨터과학전공</a>
        </li>
        <li class="nav-item">
            <a style="background: white; color: #0d2f87" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">IT공학전공</a>
        </li>
    </ul>
    <hr style="margin-top: -15px; border: 0.01rem solid #0d2f87">
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card-body">
                <h3 class="card-title">경영학부</h3>
                
                <ul class = "nav justify-content-end">
                    <li class="nav-item2 dropdown">
                        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            세부 트랙 확인
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="#global-man">글로벌 경영</a>
                            <a class="dropdown-item" href="#marketing-strategy">마케팅 전략</a>
                            <a class="dropdown-item" href="#science-man">과학적 경영</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item disabled" href="#">추후 업데이트 예정</a>
                        </div>
                    </li>

                </ul>
                <p id="global-man" class="card-text">
                    <h5 class="card-title">글로벌경영</h5>
                    <style type="text/css">
                        table {margin-left:auto; margin-right:auto;}
                        .tg  {border-collapse:collapse;border-spacing:0;}
                        .tg td{border-color:black;border-style:solid;border-width:1px;
                            overflow:hidden;padding:10px 5px;word-break:normal;}
                        .tg th{border-color:black;border-style:solid;border-width:1px;
                            font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal; background-color:rgb(230, 230, 230)}
                        .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
                    </style>
                <table class="tg">
                    <thead>
                      <tr>
                        <th class="tg-c3ow">이수조건</th>
                        <th class="tg-c3ow">기준학점</th>
                        <th class="tg-c3ow">세부영역</th>
                        <th class="tg-c3ow">과목번호</th>
                        <th class="tg-c3ow">과목명</th>
                        <th class="tg-c3ow">학점</th>
                        <th class="tg-c3ow">필수조건</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-c3ow" rowspan="9"><span style="font-weight:400;font-style:normal">모듈(A, B, C)별 2과목 선택 이수</span></td>
                        <td class="tg-c3ow" rowspan="9">18</td>
                        <td class="tg-c3ow" rowspan="3"><span style="font-weight:400;font-style:normal">모듈(A) 2과목 선택 이수</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001063</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">국제경영학</span></td>
                        <td class="tg-c3ow">3</td>
                        <td class="tg-c3ow" rowspan="3"><span style="font-weight:400;font-style:normal">2과목</span></td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001088</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">국제기업환경론</span></td>
                        <td class="tg-c3ow">3</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002176</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">글로벌경영의이론과사례</span></td>
                        <td class="tg-c3ow">3</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow" rowspan="3"><span style="font-weight:400;font-style:normal">모듈(B) 2과목 선택 이수</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001077</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">경영전략론</span></td>
                        <td class="tg-c3ow">3</td>
                        <td class="tg-c3ow" rowspan="3">2과목</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001074</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">국제마케팅</span></td>
                        <td class="tg-c3ow">3</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21005874</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">글로벌창업론</span></td>
                        <td class="tg-c3ow">3</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow" rowspan="3"><span style="font-weight:400;font-style:normal">모듈(C) 2과목 선택 이수</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001107</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">국제재무관리</span></td>
                        <td class="tg-c3ow">3</td>
                        <td class="tg-c3ow" rowspan="3">2과목</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003862</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">국제조세론</span></td>
                        <td class="tg-c3ow">3</td>
                      </tr>
                      <tr>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001052</span></td>
                        <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">재무관리</span></td>
                        <td class="tg-c3ow">3</td>
                      </tr>
                    </tbody>
                    </table>
                </p>

                <hr>
                <p id="marketing-strategy" class="card-text">
                    <h5 class="card-title">마케팅 전략</h5>
                    <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tg-c3ow" rowspan="7"><span style="font-weight:400;font-style:normal">모듈(D, E) 필수 이수</span></td>
                            <td class="tg-c3ow" rowspan="7">21</td>
                            <td class="tg-c3ow" rowspan="3"><span style="font-weight:400;font-style:normal">모듈(D) 필수 이수</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001056</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">마케팅원론</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="3">3과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003496</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">마케팅전략</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002177</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">서비스마케팅</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">모듈(E) 필수 이수</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003499</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">광고판촉론</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="4">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001082</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">마케팅조사론</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003754</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">브랜드마케팅</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001065</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">소비자행동</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                        </tbody>
                        </table>
                </p>

                <hr>
                <p id="science-man" class="card-text">
                    <h5 class="card-title">과학적 경영</h5>
                    <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tg-c3ow" rowspan="8"><span style="font-weight:400;font-style:normal">모듈(H) 필수 이수, 대상교과 2과목 선택 이수</span></td>
                            <td class="tg-c3ow" rowspan="8">18</td>
                            <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">모듈(H) 필수 이수</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001058</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">경영과학1</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="4">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21100752</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">경영과학2</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21103166</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">네트워크로보는세상</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21103026</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">시뮬레이션으로보는세상</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">대상교과 2과목 선택 이수</span></td>
                            <td class="tg-c3ow">21003435</td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">공급사슬관리</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="4">2과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001079</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">생산및운영관리</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001793</span></td>
                            <td class="tg-c3ow">서비스운영관리</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001081</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">품질경영</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                        </tbody>
                        </table>
                </p>
    
            </div>
        </div>

        <div class="tab-pane fade" id="pills-sw" role="tabpanel" aria-labelledby="pills-sw-tab">
            <div class="card-body">
                <h3 class="card-title">소프트웨어융합전공</h3>
                
                <ul class = "nav justify-content-end">
                    <li class="nav-item2 dropdown">
                        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            세부 트랙 확인
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                            <a class="dropdown-item" href="#data-science">데이터 사이언스</a>
                            <a class="dropdown-item" href="#media-interface">미디어 인터페이스</a>
                        </div>
                    </li>

                </ul>
                <p id="data-science" class="card-text">
                    <h5 class="card-title">데이터 사이언스</h5>
                <table class="tg">
                    <thead>
                    <tr>
                        <th class="tg-c3ow">이수조건</th>
                        <th class="tg-c3ow">기준학점</th>
                        <th class="tg-c3ow">세부영역</th>
                        <th class="tg-c3ow">과목번호</th>
                        <th class="tg-c3ow">과목명</th>
                        <th class="tg-c3ow">학점</th>
                        <th class="tg-c3ow">필수조건</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tg-c3ow" rowspan="8">모듈(A) 4과목 선택 이수(기초공학부 인정과목 선택이수), 모듈(B) 필수 이수</td>
                        <td class="tg-c3ow" rowspan="8">21</td>
                        <td class="tg-c3ow" rowspan="3">모듈(B) 필수 이수</td>
                        <td class="tg-c3ow">21102905</td>
                        <td class="tg-c3ow">데이터마이닝및분석</td>
                        <td class="tg-c3ow">3</td>
                        <td class="tg-c3ow" rowspan="3">3과목</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">21102904</td>
                        <td class="tg-c3ow">데이터사이언스개론</td>
                        <td class="tg-c3ow">3</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">21102906</td>
                        <td class="tg-c3ow">빅데이터처리</td>
                        <td class="tg-c3ow">3</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow" rowspan="5">모듈(A) 4과목 선택 이수</td>
                        <td class="tg-c3ow">21103019</td>
                        <td class="tg-c3ow">소프트웨어개론Ⅰ</td>
                        <td class="tg-c3ow">3</td>
                        <td class="tg-c3ow" rowspan="5">4과목</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">21003917</td>
                        <td class="tg-c3ow">소프트웨어의이해</td>
                        <td class="tg-c3ow">3</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">21000549</td>
                        <td class="tg-c3ow">알고리즘</td>
                        <td class="tg-c3ow">3</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">21000540</td>
                        <td class="tg-c3ow">자료구조</td>
                        <td class="tg-c3ow">3</td>
                    </tr>
                    <tr>
                        <td class="tg-c3ow">21003032</td>
                        <td class="tg-c3ow">통계학입문</td>
                        <td class="tg-c3ow">3</td>
                    </tr>
                    </tbody>
                </table>
                </p>

                <p id="media-interface" class="card-text">
                  <hr>
                    <h5 class="card-title">미디어 인터페이스</h5>
                        <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tg-c3ow" rowspan="9">모듈(C) 4과목 및 대상교과 2과목 선택 이수(기초공학부 인정과목 선택이수)<br></td>
                            <td class="tg-c3ow" rowspan="9">18</td>
                            <td class="tg-c3ow" rowspan="6">모듈(C) 4과목 선택 이수</td>
                            <td class="tg-c3ow">21102904</td>
                            <td class="tg-c3ow">데이터사이언스개론</td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="6">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102907</td>
                            <td class="tg-c3ow">사용자인터페이스</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21103021</td>
                            <td class="tg-c3ow">소프트웨어개론Ⅱ</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102912</td>
                            <td class="tg-c3ow">인터랙티브미디어</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21000558</td>
                            <td class="tg-c3ow">컴퓨터그래픽스</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21002144</td>
                            <td class="tg-c3ow">프로그래밍개론</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="3">대상교과 2과목 선택 이수</td>
                            <td class="tg-c3ow">21003757</td>
                            <td class="tg-c3ow">모바일소프트웨어</td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="3">2과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21000550</td>
                            <td class="tg-c3ow">인공지능</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21003735</td>
                            <td class="tg-c3ow">클라우드시스템</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                        </tbody>
                        </table>
                </p>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="card-body">
                <h3 class="card-title">컴퓨터과학전공</h3>
                
                <ul class = "nav justify-content-end">
                    <li class="nav-item2 dropdown">
                        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            세부 트랙 확인
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                            <a class="dropdown-item" href="#Ai">인공지능</a>
                            <a class="dropdown-item" href="#cloud">클라우드</a>
                            <a class="dropdown-item" href="#developer">전문개발자양성</a>
                        </div>
                    </li>

                </ul>
                <p id="Ai" class="card-text">
                    <h5 class="card-title">인공지능</h5>
                <table class="tg">
                    <thead>
                    <tr>
                        <th class="tg-c3ow">이수조건</th>
                        <th class="tg-c3ow">기준학점</th>
                        <th class="tg-c3ow">세부영역</th>
                        <th class="tg-c3ow">과목번호</th>
                        <th class="tg-c3ow">과목명</th>
                        <th class="tg-c3ow">학점</th>
                        <th class="tg-c3ow">필수조건</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td class="tg-c3ow" rowspan="7">모듈(A) 3과목 선택이수 및 대상교과 3과목 필수 이수</td>
                          <td class="tg-c3ow" rowspan="7">18</td>
                          <td class="tg-c3ow" rowspan="3">대상교과 필수 이수</td>
                          <td class="tg-c3ow">21003187</td>
                          <td class="tg-c3ow">영상정보처리</td>
                          <td class="tg-c3ow">3</td>
                          <td class="tg-c3ow" rowspan="3">3과목</td>
                        </tr>
                        <tr>
                          <td class="tg-c3ow">21000550</td>
                          <td class="tg-c3ow">인공지능</td>
                          <td class="tg-c3ow">3</td>
                        </tr>
                        <tr>
                          <td class="tg-c3ow">21001715</td>
                          <td class="tg-c3ow">컴파일러</td>
                          <td class="tg-c3ow">3</td>
                        </tr>
                        <tr>
                          <td class="tg-c3ow" rowspan="4">모듈(A) 3과목 선택 이수</td>
                          <td class="tg-c3ow">21103021</td>
                          <td class="tg-c3ow">소프트웨어개론Ⅱ</td>
                          <td class="tg-c3ow">3</td>
                          <td class="tg-c3ow" rowspan="4">3과목</td>
                        </tr>
                        <tr>
                          <td class="tg-c3ow">21000540</td>
                          <td class="tg-c3ow">자료구조</td>
                          <td class="tg-c3ow">3</td>
                        </tr>
                        <tr>
                          <td class="tg-c3ow">21000557</td>
                          <td class="tg-c3ow">자바프로그래밍</td>
                          <td class="tg-c3ow">3</td>
                        </tr>
                        <tr>
                          <td class="tg-c3ow">21002144</td>
                          <td class="tg-c3ow">프로그래밍개론</td>
                          <td class="tg-c3ow">3</td>
                        </tr>
                      </tbody>
                </table>
                </p>

                <hr>
                <p id="cloud" class="card-text">
                    <h5 class="card-title">클라우드</h5>
                        <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-c3ow" rowspan="9"><span style="font-weight:400;font-style:normal">모듈(A) 및 대상교과별 각 3과목 선택 이수</span></td>
                                <td class="tg-c3ow" rowspan="9">18</td>
                                <td class="tg-c3ow" rowspan="5"><span style="font-weight:400;font-style:normal">대상교과 3과목 선택 이수</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002031</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">네트워크보안</span></td>
                                <td class="tg-c3ow">3</th>
                                <td class="tg-c3ow" rowspan="5">3과목</th>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001714</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">웹시스템설계</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003186</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">컴퓨터네트워크Ⅰ</span></td>
                                <td class="tg-c3ow">3</th>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003202</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">컴퓨터네트워크Ⅱ</span></td>
                                <td class="tg-c3ow">3</th>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003735</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">클라우드시스템</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">모듈(A) 3과목 선택 이수</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21103021</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">소프트웨어개론Ⅱ</span></td>
                                <td class="tg-c3ow">3</td>
                                <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">3과목</span></td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21000540</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">자료구조</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21000557</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">자바프로그래밍</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002144</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">프로그래밍개론</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                            
                        </tbody>
                        </table>
                </p>

                <hr>
                <p id="developer" class="card-text">
                    <h5 class="card-title">전문개발자양성</h5>
                        <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-c3ow" rowspan="12"><span style="font-weight:400;font-style:normal">모듈(A) 2과목, 모듈(B) 3과목 / 대상교과 1과목 선택 이수</span></td>
                                <td class="tg-c3ow" rowspan="12">18</td>
                                <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">모듈(A) 2과목 선택 이수</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21103021</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">소프트웨어개론Ⅱ</span></td>
                                <td class="tg-c3ow">3</td>
                                <td class="tg-c3ow" rowspan="4">2과목</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21000540</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">자료구조</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21000557</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">자바프로그래밍</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002144</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">프로그래밍개론</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow" rowspan="6"><span style="font-weight:400;font-style:normal">모듈(B) 3과목 선택 이수</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003184</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">데이터베이스프로그래밍</span></td>
                                <td class="tg-c3ow">3</td>
                                <td class="tg-c3ow" rowspan="6">3과목</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003757</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">모바일소프트웨어</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003276</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">시스템프로그래밍</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001714</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">웹시스템설계</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002146</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">윈도우프로그래밍</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21001715</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">컴파일러</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow" rowspan="2"><span style="font-weight:400;font-style:normal">대상교과 1과목 선택 이수</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21009627</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">논리및논술(정보·컴퓨터)</span></td>
                                <td class="tg-c3ow">3</td>
                                <td class="tg-c3ow" rowspan="2"><span style="font-weight:400;font-style:normal">1과목</span></td>
                              </tr>
                              <tr>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003758</span></td>
                                <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">시스템종합설계(캡스톤디자인)</span></td>
                                <td class="tg-c3ow">3</td>
                              </tr>
                            
                        </tbody>
                        </table>
                </p>
    
            </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="card-body">
                <h3 class="card-title">IT공학전공</h3>
                
                <ul class = "nav justify-content-end">
                    <li class="nav-item2 dropdown">
                        <a class="nav-link2 dropdown-toggle" href="#" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            세부 트랙 확인
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
                            <a class="dropdown-item" href="#smart-IOT">스마트 IOT 솔루션</a>
                            <a class="dropdown-item" href="#bigdata-ana">빅데이터 분석</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item disabled" href="#">추후 업데이트 예정</a>
                        </div>
                    </li>

                </ul>
                <p id="smart-IOT" class="card-text">
                    <h5 class="card-title">스마트 IOT 솔루션</h5>
                    <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tg-c3ow" rowspan="16"><span style="font-weight:400;font-style:normal">모듈(A) 필수 이수(기초공학부 인정과목 선택이수), 모듈(B) 4과목 / 모듈(C) 2과목 선택 이수</span></td>
                            <td class="tg-c3ow" rowspan="16">30</td>
                            <td class="tg-c3ow" rowspan="6"><span style="font-weight:400;font-style:normal">모듈(A) 필수 이수(기초공학부 인정과목 선택이수)</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002103</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">객체지향프로그래밍</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="6">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003683</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">기초프로그래밍</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21103019</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">소프트웨어개론Ⅰ</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21103021</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">소프트웨어개론ⅠI</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002101</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">웹프로그래밍기초</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102524</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">프로그래밍입문</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="6"><span style="font-weight:400;font-style:normal">모듈(B) 4과목 선택 이수</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102523</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">IT기술의이해</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="6">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102525</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">IT수학</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21100722</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">네트워크</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003066</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">데이터구조</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21003680</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">컴퓨터그래픽프로그래밍</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21002147</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">컴퓨터수학</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="4"><span style="font-weight:400;font-style:normal">모듈(C) 2과목 선택 이수</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102535</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">IoT응용(캡스톤디자인)</span></td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="4">2과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102529</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">센서프로그래밍</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102537</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">스마트서비스</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">21102534</span></td>
                            <td class="tg-c3ow"><span style="font-weight:400;font-style:normal">클라우드컴퓨팅</span></td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                        </tbody>
                        </table>
                </p>

                <hr>
                <p id="bigdata-ana" class="card-text">
                    <h5 class="card-title">빅데이터 분석</h5>
                        <table class="tg">
                        <thead>
                          <tr>
                            <th class="tg-c3ow">이수조건</th>
                            <th class="tg-c3ow">기준학점</th>
                            <th class="tg-c3ow">세부영역</th>
                            <th class="tg-c3ow">과목번호</th>
                            <th class="tg-c3ow">과목명</th>
                            <th class="tg-c3ow">학점</th>
                            <th class="tg-c3ow">필수조건</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="tg-c3ow" rowspan="16">모듈(A) 필수 이수(기초공학부 인정과목 선택이수), 모듈(B) 4과목 / 모듈(D) 2과목 선택 이수</td>
                            <td class="tg-c3ow" rowspan="16">30</td>
                            <td class="tg-c3ow" rowspan="6">모듈(A) 필수 이수(기초공학부 인정과목 선택이수)</td>
                            <td class="tg-c3ow">21002103</td>
                            <td class="tg-c3ow">객체지향프로그래밍</td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="6">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21003683</td>
                            <td class="tg-c3ow">기초프로그래밍</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21103019</td>
                            <td class="tg-c3ow">소프트웨어개론Ⅰ</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21103021</td>
                            <td class="tg-c3ow">소프트웨어개론Ⅱ</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21002101</td>
                            <td class="tg-c3ow">웹프로그래밍기초</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102524</td>
                            <td class="tg-c3ow">프로그래밍입문</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="6">모듈(B) 4과목 선택 이수</td>
                            <td class="tg-c3ow">21102523</td>
                            <td class="tg-c3ow">IT기술의이해</td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="6">4과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102525</td>
                            <td class="tg-c3ow">IT수학</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21100722</td>
                            <td class="tg-c3ow">네트워크</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21003066</td>
                            <td class="tg-c3ow">데이터구조</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21003680</td>
                            <td class="tg-c3ow">컴퓨터그래픽프로그래밍</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21002147</td>
                            <td class="tg-c3ow">컴퓨터수학</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow" rowspan="4">모듈(D) 2과목 선택 이수</td>
                            <td class="tg-c3ow">21102536</td>
                            <td class="tg-c3ow">데이터마이닝개론</td>
                            <td class="tg-c3ow">3</td>
                            <td class="tg-c3ow" rowspan="4">2과목</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102538</td>
                            <td class="tg-c3ow">데이터베이스</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102532</td>
                            <td class="tg-c3ow">데이터분석및활용(캡스톤디자인)</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                          <tr>
                            <td class="tg-c3ow">21102534</td>
                            <td class="tg-c3ow">클라우드컴퓨팅</td>
                            <td class="tg-c3ow">3</td>
                          </tr>
                        </tbody>
                        </table>
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        Copyright ⓒchilli sauce. All Rights Reserved.
        <br>
        <br>Contact : chlthr1222@sookmyung.ac.kr / sw18@sookmyung.ac.kr
    </div>
</body>

</html>