<!doctype html>
<html lang="ko">

<head>
    <meta property="og:title" content="sookmyung-track" />
    <meta property="og:description" content="숙명인을 위한 학과 트랙 추천 서비스" />
    <meta property="og:image" content="{{ url_for('static', filename='main.png') }}" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- google web font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">

    <!-- favicon   -->
    <link rel="shortcut icon" href="../static/favicon.ico">

    <title>sookmyung-track</title>
    <link rel="stylesheet" href="../static/index.css">

    <style>.keyyy{margin: 4px}</style>

</head>

<body>
<script src="../static/checkbox.js"></script>
<nav id="nav" class="navbar navbar-expand-lg navbar-dark navbar-default">
    <a class="navbar-brand" href="./">
        <img id="logo" src="../static/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="./track-info">트랙 소개 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./major-track">학과별 트랙</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./recommend">과목 트랙 추천</a>
            </li>
        </ul>
    </div>
</nav>
<img id="main" src="{{ url_for('static', filename='major_track.png') }}" class="img-fluid" alt="Responsive image"
     style="width: 100%">
<div class="main">
    <h4 style="margin-top: 30px; margin-left: 30px; margin-bottom: 30px">
        <span style="margin-bottom: 30px; float: left">키워드 기반 트랙 추천</span>
        <button type="button" class="btn btn-outline-dark float-right"
                onclick="location.href='/recommend'" class="btn float-right"
                style="margin-right: 30px; margin-bottom: 30px">
            결과 새로고침 🔃
        </button>
    </h4>
</div>
    <br><br>
<div class="card">
    <div class="card-body">
        <h4 style="margin-top: 30px; margin-bottom: 20px">자신이 선호하는 키워드를 선택해주세요.</h4>
        <p style="margin-bottom: 60px">아래의 트랙별 키워드에서 선호하는 키워드의 체크박스를 클릭한 후 추천 받기 버튼을 눌러 결과를 확인해주세요.</p>
        <div id='result'></div>
        <button type="button" class="btn btn-outline-dark float-right" id='target_btn'
                onclick="CalCheckboxValue()" class="btn float-right">추천 받기🔍</button>
    </div>
  </div>
    <br>
  <div class="card">
    <div class="card-body">
        <div id="reviews-box">
            <h4 style="text-align: center; margin-bottom: 50px">트랙별 대표 키워드</h4>
        </div>
        </div></div>
  <div class="main">
    <h5 style="margin-top: 30px; margin-left: 30px; margin-bottom: 30px">키워드 기반으로 추천된 결과입니다.</h5>
    </div>
    <div class="card" style="background-color: #0d2f87;">
        <div class="card-body">
            <h3 id='result2' style="color: white;"></h3>
            <span id='result2_2' style="color: white;"></span>
            <span id='result2_1' style="color: white;"></span>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <div id="first" class="card">
                <div class="card-body">
                    <p id="sm-inside"class="card-title"><div id='result2' style="color: white;"></div></p>
                </div>
            </div>
        </div>
    </div> -->

<div class="footer">
    Copyright ⓒchilli sauce. All Rights Reserved.
    <br>
    <br>Contact : chlthr1222@sookmyung.ac.kr / sw18@sookmyung.ac.kr
</div>
</body>

</html>